.room

  +span-columns(4)
  +omega(3n)
  margin-bottom: 1rem

  border: 5px solid transparentize( $sleepy_black , 0.85 )

  .thumbnail
    display: block
    width: 100%

  .number_name,
  .rate,
  .description
    padding: 0 1.25rem

  .number_name
    margin-top: 1.25rem
    margin-bottom: 1rem
    font-size: 1.25rem
    font-weight: normal

  .number,
  .name
    display: block

  .number
    font-weight: bold

  .rate
    margin-bottom: 1rem

  .description
    margin-bottom: 1.25rem
