// resets
@import "normalize";

// variables

$font-family-sans-serif: "Open Sans", sans-serif;
$body-bg               : #f9f9f9;
$body-font-color       : #444444;
$font-weight-normal    : 300;
$legend-bg             : $body-bg;

// mixins

// ...

// partials
@import "foundation/functions";
@import "foundation";

@import "layouts/header";
@import "layouts/main";
@import "layouts/footer";
